<main class="account">
<div class="wrapper">
	
	<section class="info-section">
			<h1>Hey there, {{user.forename}}!</h1>
	</section>

	<aside>
		<section>
			<h1>{{user.username}}'s</h1>
		<ul>
			<li><a href="#details">Details</a></li>
			<li><a href="#games">Games</a></li>
			<li><a href="#accounts">Accounts</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
		</section>
	</aside>

	<div class="content details" id="details">
		
		<section class="heading">
			<h1>Details</h1>
		</section>

		<section>
		
			<ul class="details">

				<li class="details-item">
					<label>Image</label>
					<div class="image">
						<div class="image-info">
							<button>Upload image</button>
							<p>Try for 400x400 size</p>
							<p>Image must be smaller than 1TB</p>
							<p>Accepted file types are .GIF, .PNG and .JPG</p>
						</div>
						<img src="http://fillmurray.com/200/200" alt="{{user.username}}'s profile image">
					</div>
				</li>

				<li class="details-item">
					<label for="profile-name">Name</label>
					<input id="profile-name" type="text" value="{{user.forename}} {{user.surname}}">
					<p class="hint">Your IRL name</p>
				</li>

				<li class="details-item">
					<label for="profile-user">Username</label>
					<input id="profile-user" type="text" value="{{user.username}}">
					<p class="hint">You log-in with this</p>
				</li>

				<li class="details-item">
					<label for="profile-bio">Bio</label>
					<textarea id="profile-bio">{{user.bio}}</textarea>
					<p class="hint">This will display on your profile page.</p>
				</li>

			</ul>

			<p></p>
		
		</section>
		
	</div>

	<div class="content games" id="games">
		
		<section class="heading">
			<h1>Games</h1>
		</section>

		<section>

		<p>Here you can add the games you play.</p>

		<table>
			<thead>
				<tr>
					<td>Game</td>
					<td>Platform</td>
					<td></td>
				</tr>
			</thead>
			<tbody>				
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>CounterStrike</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>CounterStrike</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>CounterStrike</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>CounterStrike</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>CounterStrike</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><a href="#">Remove</a></td>
				</tr>
			</tbody>
		</table>
		
		</section>
		
	</div>

	<div class="content accounts" id="accounts">
		
		<section class="heading">
			<h1>Accounts</h1>
		</section>

		<section>
		
			<ul class="details">

				<li class="details-item steam">
					<span class="service">Steam</span>
					<button>Remove</button>
					<span class="identifier">zaccolley</span>	
				</li>

				<li class="details-item xbox">
					<span class="service">Xbox Live</span>
					<button>Link</button>
				</li>

				<li class="details-item psn">
					<span class="service">PSN</span>
					<button>Remove</button>
					<span class="identifier">zaccolley</span>	
				</li>

				<li class="details-item nintendo">
					<span class="service">3DS Friend Code</span>
					<button>Remove</button>
					<span class="identifier">1234 - 5678 - 9101</span>	
				</li>

				<li class="details-item nintendo">
					<span class="service">WiiU Friend Code</span>
					<button>Remove</button>
					<span class="identifier">1234 - 5678 - 9101</span>	
				</li>

				<li class="details-item facebook">
					<span class="service">Facebook</span>
					<button>Remove</button>
					<span class="identifier">zaccolley</span>
				</li>

				<li class="details-item twitter">
					<span class="service">Twitter</span>
					<button>Remove</button>
					<span class="identifier">zaccolley</span>
				</li>

				<li class="details-item google">
					<span class="service">Google +</span>
					<button>Remove</button>
					<span class="identifier">+zaccolley</span>	
				</li>

			</ul>
		
		</section>
		
	</div>

	<div class="content settings" id="settings">
		
		<section class="heading">
			<h1>Settings</h1>
		</section>

		<section>

			<ul class="details">

				<li class="details-item">
					<label for="profile-public">Profile public</label>
					<input id="profile-public" type="checkbox">
				</li>
				
				<li class="details-item details-save">
					<input type="submit" value="Save changes">
				</li>

			</ul>
		
		</section>
		
	</div>

</div>
</main>