<main class="account">
<div class="wrapper">
	
	<section class="info-section">
			<h1>Hey there, {{user.forename}}!</h1>
	</section>

	<aside>
		<section>
			<h1>{{user.username}}'s</h1>
		<ul>
			<li><a href="#details">Details</a></li>
			<li><a href="#games">Games</a></li>
			<li><a href="#accounts">Accounts</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
		</section>
	</aside>

	<div class="content details" id="details">
		
		<section class="heading">
			<h1>Details</h1>
		</section>

		<section>
		
			<ul class="details">

				<li class="details-item">
					<label>Image</label>
					<div class="image">
						<div class="image-info">
							<button>Upload image</button>
							<p>Try for 400x400 size</p>
							<p>Image must be smaller than 1TB</p>
							<p>Accepted file types are .GIF, .PNG and .JPG</p>
						</div>
						<img src="http://fillmurray.com/200/200" alt="{{user.username}}'s profile image">
					</div>
				</li>

				<li class="details-item">
					<label>Name</label>
					<input type="text" value="{{user.forename}} {{user.surname}}">
					<p class="hint">Your IRL name</p>
				</li>

				<li class="details-item">
					<label>Username</label>
					<input type="text" value="{{user.username}}">
					<p class="hint">You log-in with this</p>
				</li>

				<li class="details-item">
					<label>Bio</label>
					<textarea>{{user.bio}}</textarea>
					<p class="hint">This will display on your profile page.</p>
				</li>

			</ul>

			<p></p>
		
		</section>
		
	</div>

	<div class="content games" id="games">
		
		<section class="heading">
			<h1>Games</h1>
		</section>

		<section>

		<p>Here you can add the games you play.</p>

		<table>
			<thead>
				<tr>
					<td>Game</td>
					<td>Platform</td>
				</tr>
			</thead>
			<tbody>				
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><button>Remove game</button></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><button>Remove game</button></td>
				</tr>
				<tr>
					<td>Minecraft</td>
					<td>Steam</td>
					<td><button>Remove game</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>					
					<td>
						<select name="game-name" id="game-name">
							<option value="Minecraft">Pick a game</option>
							<option value="Minecraft">Minecraft</option>
							<option value="Minecraft">Minecraft</option>
							<option value="Minecraft">Minecraft</option>
							<option value="Minecraft">Minecraft</option>
							<option value="Other">Other</option>
						</select>
					</td>

					<td>
						<select name="game-platform" id="game-platform">
							<option value="Minecraft">Pick a platform</option>
							<option value="Minecraft">PSN</option>
							<option value="Minecraft">PSN</option>
							<option value="Minecraft">PSN</option>
						</select>
					</td>

					<td><button>Add game</button></td>
				</tr>
			</tfoot>
		</table>
		
		</section>
		
	</div>

	<div class="content accounts" id="accounts">
		
		<section class="heading">
			<h1>Accounts</h1>
		</section>

		<section>
		
			<ul class="details">

				<li class="details-item facebook">
					<label>
						Facebook
						<button>Link</button>
					</label>
				</li>

				<li class="details-item twitter">
					<label>
						Twitter
						<button>Link</button>
					</label>
				</li>

				<li class="details-item google">
					<label>
						Google +
						<button>Link</button>
					</label>
				</li>

				<li class="details-item steam">
					<label>
						Steam
						<button>Link</button>
					</label>
				</li>

				<li class="details-item xbox">
					<label>
						Xbox Live
						<button>Link</button>
					</label>
				</li>

				<li class="details-item psn">
					<label>
						PSN
						<button>Link</button>
					</label>
				</li>

				<li class="details-item nintendo">
					<label>
						3DS Friend Code
						<button>Link</button>
					</label>
				</li>

				<li class="details-item nintendo">
					<label>
						WiiU Friend Code
						<button>Link</button>
					</label>
				</li>

			</ul>

			<p></p>
		
		</section>
		
	</div>

	<div class="content settings" id="settings">
		
		<section class="heading">
			<h1>Settings</h1>
		</section>

		<section>

			<ul class="details">

				<li class="details-item">
					<label>Test detail</label>
					<input type="text" value="Test">
				</li>

				<li class="details-item">
					<label>Test detail</label>
					<input type="text" value="Test">
				</li>

				<li class="details-item">
					<label>Test detail</label>
					<input type="text" value="Test">
				</li>
				
				<li class="details-item details-save">
					<input type="submit" value="Save changes">
				</li>

			</ul>
		
		</section>
		
	</div>

</div>
</main>