<main class="profile">
<div class="wrapper">
	
	<section>
			<h1>{{user.username}}'s Profile!</h1>
	</section>

	<section class="content">
		
		<div class="profile-details">

				<div class="profile-img">
					<img src="http://fillmurray.com/200/200" alt="{{user.username}}'s profile image">
				</div>

				<p class="profile-username">{{user.username}}</p>
				<p class="profile-name">{{user.forename}} {{user.surname}}</p>
				<p class="profile-bio">{{user.bio}}</p>
			
		</div>

		<div class="profile-games">
			
			<section class="heading">
				<h1>Games</h1>
			</section>
			
		</div>

		<div class="profile-accounts">
			
			<ul class="details">

				<li class="details-item steam">
					<span class="service">Steam</span>
					<span class="identifier">zaccolley</span>	
				</li>

				<li class="details-item xbox">
					<span class="service">Xbox Live</span>
				</li>

				<li class="details-item psn">
					<span class="service">PSN</span>
					<span class="identifier">zaccolley</span>	
				</li>

				<li class="details-item nintendo">
					<span class="service">3DS Friend Code</span>
					<span class="identifier">1234 - 5678 - 9101</span>
				</li>

				<li class="details-item nintendo">
					<span class="service">WiiU Friend Code</span>
					<span class="identifier">1234 - 5678 - 9101</span>
				</li>

				<li class="details-item facebook">
					<span class="service">Facebook</span>
					<span class="identifier">zaccolley</span>
				</li>

				<li class="details-item twitter">
					<span class="service">Twitter</span>
					<span class="identifier">zaccolley</span>
				</li>

				<li class="details-item google">
					<span class="service">Google +</span>
					<span class="identifier">+zaccolley</span>	
				</li>

			</ul>
			
		</div>
	
	</section>

</div>
</main>